[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Запустить Redneck Rampage с  не цензурной озвучкой
Comment=Запустить Redneck Rampage с  не цензурной озвучкой
Exec=redneck-rampage-cusspack
Icon=RedneckRampage.png
Type=Application
#Categories=Network;
Categories=Game;

