[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Распаковать Jazz Jack Rabbit
Comment=Распаковать Jazz Jack Rabbit
Exec=xterm -maximized jazz-jack-rabbit-unarh
Icon=JazzJackRabbit.png
Type=Application
Categories=Game;
#Categories=RemoteAccess;

