[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Запустить Jazz Jack Rabbit
Comment=Запустить Jazz Jack Rabbit
Exec=jazz-jack-rabbit
Icon=JazzJackRabbit.png
Type=Application
#Categories=Network;
Categories=Game;

